*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --cell-width: calc(var(--cell-size) * 0.8);
  --cell-heigth: calc(var(--cell-size) * 0.8);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game-table {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
  gap: 0;
}

.cell {
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.x::before,
.x::after,
.o::before,
.turn-x .cell:not(.x):not(.o):hover::before,
.turn-x .cell:not(.x):not(.o):hover::after,
.turn-o .cell:not(.x):not(.o):hover::before {
  content: "";
  background-color: black;
  width: calc(var(--cell-size) * 0.15);
  height: var(--cell-size);
  position: absolute;
}

.turn-x .cell:not(.x):not(.o):hover::before,
.turn-x .cell:not(.x):not(.o):hover::after {
  background-color: gray;
}

.x::before,
.turn-x .cell:not(.x):not(.o):hover::before {
  rotate: 45deg;
}

.x::after,
.turn-x .cell:not(.x):not(.o):hover::after {
  rotate: -45deg;
}

.o::before,
.turn-o .cell:not(.x):not(.o):hover::before {
  width: calc(var(--cell-size) * 0.9);
  height: calc(var(--cell-size) * 0.9);
  border-radius: 50%;
  border: 8px solid black;
  background-color: transparent;
}

.turn-o .cell:not(.x):not(.o):hover::before {
  border: 8px solid gray;
}
